.bug-card {
  background-color: rgba(2, 0, 0, 0.397);
  border-radius: 10px;
  box-shadow: 2px 2px 2px;
  text-align: center;
  margin: 10px;
  min-width: 275px;
  min-height: 200px;
}

.bug-card :hover {
  transition: all 0.3s;
  transform: scale(1.15);
  cursor: pointer;
}
